body{
font-family:Arial;
background:#f5f7fb;
}

.navbar{
background:#002147;
}

.navbar-brand,
.nav-link{
color:white !important;
}

.hero{
height:90vh;

display:flex;

align-items:center;

justify-content:center;

background:
linear-gradient(
rgba(0,0,0,.6),
rgba(0,0,0,.6)
),

url("https://images.unsplash.com/photo-1473341304170-971dccb5ac1e");

background-size:cover;

color:white;
}

.section{
padding:70px 0;
}

.card{
border:none;

box-shadow:
0 5px 20px rgba(0,0,0,.1);

padding:20px;
}

.dashboard{
height:500px;

background:white;

border-radius:10px;

padding:30px;
}

.story{
background:white;

padding:40px;

border-radius:15px;
}

.footer{
background:#00152e;

color:white;

padding:20px;

text-align:center;
}