{% extends "base.html" %}

{% block content %}

<section class="hero">

<div class="text-center">

<h1>
Plugging into the Future
</h1>

<h3>
An Exploration of Electricity Consumption Patterns
</h3>

<br>

<a
href="/dashboard01"
class="btn btn-warning">

Explore Dashboard

</a>

</div>

</section>

<div class="container section">

<div class="row">

<div class="col-md-4">

<div class="card">

<h4>Consumption</h4>

<p>
Track electricity usage.
</p>

</div>

</div>

<div class="col-md-4">

<div class="card">

<h4>Visualization</h4>

<p>
Interactive analysis.
</p>

</div>

</div>

<div class="col-md-4">

<div class="card">

<h4>Forecast</h4>

<p>
Future energy insights.
</p>

</div>

</div>

</div>

</div>

{% endblock %}